/target
/target/**
/vendor
/vendor/**
/_subpackages/mvv_auth/target/**
/_subpackages/static_error_macro/target/**
/_subpackages/tuple_heter_iter/target/**
/_subpackages/tuple_heter_iter_macro/target/**
/.idea/**
/.log/**
*.log
