/target
/target/**
/vendor
/vendor/**
/mvv_auth/target/**
/error_macro/target/**
/tuple_heter_iter/target/**
/tuple_heter_iter_macro/target/**
/.idea/**
/.log/**
/temp/**
*.log

# Generated sources
/account_web/src/rest_dependencies/account_soa_client.rs
/client_search_grpc_soa/src/generated/*